* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    margin-top: 15px;
}

h1 {
    font-size: 10px;
}

h2 {
    font-size: 10px;
}

#main-background {
    width: 100%;
    animation: animeScale .7s ease-in-out .4s backwards;
	-webkit-animation: animeScale .7s ease-in-out .4s backwards;
}

#logo {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: animeScaleUp .7s ease-in-out .4s backwards;
	-webkit-animation: animeScaleUp .7s ease-in-out .4s backwards;
}

.container {
    background-color: #00254e;
    margin: 0 5px;
}

/* Ponto de âncoragem */
.tabs .corpo-personagens {
    display: none;
}

.tabs .corpo-personagens:target,
.tabs:checked .corpo-personagens:target {
    display: block;
    animation: animeDown .7s ease-in-out .4s backwards;
}
/* Fim ponto de âncoragem */

/* Animação .tabs .corpo-personagens */
@keyframes animeDown {
    0% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}
/* Fim Animação .tabs .corpo-personagens */

.personagem {
    list-style: none;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50px;
    margin: 15px 120px;
}

.personagem > a {
    color: #ff7e00;
    font-family: 'Exo 2', 'Raleway', sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 15px auto;
}

.corpo-personagens {
    padding: 20px 0 20px 0;
}

.card-personagem {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}

.persona {
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    margin: 15px;
}

.persona > h1 {
    color: #ff7e00;
    font-family: 'Exo 2', 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    display: block;
}

.ator {
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    margin: 15px auto;
}

.ator > h2 {
    color: #ff7e00;
    font-family: 'Exo 2', 'Raleway', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    display: block;
}

.sobre {
    margin: 0 auto 20px auto;
    border-radius: 50px;
    padding: 40px;
}

.sobre > p {
    color: #ff7e00;
    font-family: 'Exo 2', 'Raleway', sans-serif;
    line-height: 1.3em;
    padding-bottom: 8px;
}

.rodape {
    margin: 20px auto;
}

section .social {
    margin: 0 auto;
    text-align: center;
}

.social li {
    display: inline-block;
    margin-left: 10px;
}

.social a {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

.social a:hover {
    transition: .5s;
    transform: scale(1.1,1.1);
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

#direitos {
    margin: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Exo 2', 'Raleway', sans-serif;
}

#direitos a {
    color: #ff7e00;
}

/* Botão back to top */
.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #ff7e00;
    border-radius: 50%;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}
/* Fim Botão back to top */

/* Animação Keyframe no #main-background e #logo */
@keyframes animeScale {
	0% {
		transform: scale(2,2);
		-webkit-transform: scale(2,2);
		opacity: 0;
	}

	100% {
		transform: scale(1,1);
		-webkit-transform: scale(1,1);
		opacity: 1;
	}
}

@keyframes animeScaleUp {
	0% {
		transform: scale(0.1,0.1);
		-webkit-transform: scale(0.1,0.1);
		opacity: 0;
	}

	100% {
		transform: scale(1,1);
		-webkit-transform: scale(1,1);
		opacity: 1;
	}
}
/* Fim Animação Keyframe no #main-background e #logo */

@media (min-width: 556px) {    
    .container {
        margin: 0 15px;
    }
    
    .nav-bar {
        padding: 20px;
    }
    
    .personagem {
        padding: 5px;
    }
    
    .card-personagem {
        width: 350px;
    }
    
    .ator {
        margin: 15px auto;
        width: 450px
    }
    
    .sobre {
        width: 450px;
    }
}

@media (min-width: 768px) {
    .nav-bar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .personagem {
        flex: 1 1 300px;
        margin: 10px 15px;
    }
    
    .personagem > a {
        margin: 15px;
    }

    .container-flex {
        display: flex;
        flex-flow: row wrap;
    }

    .card-personagem {
        align-self: center;
    }

    .container-flex-son {
        display: flex;
        flex-flow: row wrap;
    }

    .persona {
        flex: 2 1 auto;
        padding: 10px;
    }

    .ator {
        flex: 1 1 auto;
        width: auto;
        padding: 10px;
        margin: 15px;
    }

    .sobre {
        padding: 30px;
    }
}

@media (min-width: 992px) {
    #logo {
        transition: .5s;
    }

    #logo:hover {
        transform: scale(1.1, 1.1);
        transition: .5s;
    }

    .personagem {
        flex: 1 1 250px;
        margin: 10px;

        /* Início Efeito nos botões do menu */
        transform: translate(0, 0);
        overflow: hidden;
    }
    
    .personagem:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: -1;
        transform-origin: bottom left;
        transform: rotate(-90deg);
        transition: 0.5s;
    }
    
    .personagem:hover:before {
        transform: rotate(0deg);
    }
    /* Fim Efeito nos botões do menu */

    .personagem > a {
        margin: 10px;
    }

    .personagem > a:hover {
        transform: scale(1.1, 1.1);
        transition: .5s;
    }

    .container-flex {
        display: flex;
        flex-flow: row nowrap;
    }

    .card-personagem {
        margin: 15px;
    }

    /* Efeito cinza com contraste em .card-img */
    .card-img {
        filter: grayscale(1) contrast(6);
        transition: .5s;
        border: 3px solid #ff7e00;
    }

    .card-img:hover {
        filter: grayscale(0) contrast(1);
        transition: .5s;
    }
    /* Fim Efeito cinza com contraste em .card-img */

    .persona, .ator {
        flex-grow: 0;
        margin: 0 auto 20px auto;
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    #main-background {
        border: 8px solid #000;
    }

    .container {
        display: flex;
    }

    .corpo-personagens {
        margin: 60px 0 60px 0;
    }

    .personagem {
        flex: 1 1 100px;
        margin: 15px 25px;
    }
    
    .personagem > a {
        margin: 5px;
    }

    .flex-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-personagem {
        padding: 0;
    }

    .container-flex-son {
        flex-flow: column wrap;
        padding-top: 25px;
        align-content: center;
    }

    .sobre {
        width: fit-content;
        margin: 0 20px;
    }

    .gotopbtn {
        display: none;
    }
}